## Config ##
build/

# Thumbnails
_*
__*
._*
/**/_*
/**/__*
/**/._*

## Visual Studio Code ##
!.vscode/extensions.json
!.vscode/settings.json

## Others ##
/dist
/**/dist
bun.lockb

## Node.js ##
node_modules

## macOS ##
.DS_Store
.AppleDouble
.LSOverride
